@{
    
}
@model List<TwnTw_WEB.DTO_Models.TaskDetailViewModel_ForList>
<div class="workspace-header">
    <h1>Công việc đã hoàn thành</h1>
</div>

<!-- Bảng Công việc đã hoàn thành -->
<div id="completed-task-table">

    @foreach(var workSpaceInfo in Model)
    {
        <h3>WorkSpace Name: @workSpaceInfo.workSpace.WSName</h3>
        <h5 class="badge bg-success" >WorkSpace Id: @workSpaceInfo.workSpace.WSId</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tên công việc</th>
                    <th>Mô tả công việc</th>
                    <th>Ngày hoàn thành</th>
                    <th>Người thực hiện</th>
                    
                </tr>
            </thead>
            <tbody>
                @if (workSpaceInfo.taskDetails.Count == 0)
                {
                    <tr>
                        <td colspan="4" class="text-center">Không có công việc nào</td>
                    </tr>
                }
                else
                {
                    foreach (var taskDetail in workSpaceInfo.taskDetails)
                    {
                        <tr>
                            <td>@taskDetail.TaskDetailId</td>
                            <td>@taskDetail.Description</td>
                            <td>@taskDetail.CreatedDate</td>
                            <td>@workSpaceInfo.memberDetail.Users.UserName</td>
                        </tr>
                    }
                }
                
                <!-- Thêm nhiều hàng khác nếu cần -->
            </tbody>
        </table>
    }

</div>
<div>
    <a asp-action="ListWorkspace" asp-controller="workspace">Trở về không gian làm việc</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
