@model IEnumerable<TwnTw_WEB.Models.Workspace>

@{
    ViewData["Title"] = "ListWorkspace";
}

<h1>ListWorkspace</h1>

<p>
    <a asp-action="CreateWorkspace">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WSName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WSName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-controller="Workspace" asp-action="UpdateWorkspace" asp-route-id="@item.WSId">Edit</a> |
                <a asp-controller="MemberDetail" asp-action="ListMemberDetail" asp-route-id="@item.WSId">Details</a> |
                <a asp-controller="Workspace" asp-action="ConfirmDelete" asp-route-id="@item.WSId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
